@inherits LayoutComponentBase

<PageTitle>BlazorCookieAuthentication</PageTitle>

<div class="page">

    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>


    <main>
        <div class="top-row px-4">
            <LoginLogoutButton/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
